@{
    Layout = null; // Set the layout to null if you don't want to use a shared layout for this view.
}
@model List<travel.Models.Ticket>

<!DOCTYPE html>
<html>
<head>
    <title>Booked Tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Add any additional CSS files or styles here -->
</head>
<body>

    <div class="container mt-4">
        <h2>Booked Tickets</h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.Username</td>
                        <td>@ticket.From</td>
                        <td>@ticket.To</td>
                        <td>@ticket.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and other JS libraries if needed -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-Bq5s2Xu2FpTJcA4PnDR0jzQf4+6aa6ApmPbsTDbkdeiUnQ27z3jO2PwOJKd4aZSm" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Add any additional JS files or scripts here -->

</body>
</html>
